<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yhn.yq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".client.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.view.RegisterActivity"/>
        <activity android:name=".client.view.MainActivity"/>
        <activity android:name=".client.view.RecentActivity"/>
        <activity android:name=".client.view.BuddyActivity"/>
        <activity android:name=".client.view.GroupActivity"/>
        <activity android:name=".client.view.TrendsAcitivy"/>
        <activity android:name=".client.view.MoreActivity"/>
        <activity android:name=".client.view.ChatActivity"/>
    </application>

</manifest>